<div class="sidebar">
    <!-- Search Start -->
    <div class="sidebar-widget widget-search">
        <form method="post">
            <div class="andro_search-adv-input">
                <input type="text" class="form-control" placeholder="Look for Fruits, Vegetables" name="search" value="">
                <button type="submit" name="button"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <!-- Search End -->
    <!-- Filter: Categories Start -->
    <div class="sidebar-widget">
        <h5 class="widget-title"> Category </h5>
        <ul class="sidebar-widget-list">
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Food</label>
                </div>
            </li>
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Keto</label>
                </div>
            </li>
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">Baskets</label>
                </div>
            </li>
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Baby & Kids Care</label>
                </div>
            </li>
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">Home Care</label>
                </div>
            </li>
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">Supplements</label>
                </div>
            </li>
        </ul>
    </div>
    <!-- Filter: Categories End -->
    <!-- Filter: Condition Start -->
    <div class="sidebar-widget">
        <h5 class="widget-title"> Condition </h5>
        <ul class="sidebar-widget-list">
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                    <label class="custom-control-label" for="customCheck7">Daily Deal</label>
                </div>
            </li>
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                    <label class="custom-control-label" for="customCheck8">On Sale</label>
                </div>
            </li>
        </ul>
    </div>
    <!-- Filter: Condition End -->
    <!-- Filter: State Start -->
    <div class="sidebar-widget">
        <h5 class="widget-title"> Brand </h5>
        <ul class="sidebar-widget-list">
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck9">
                    <label class="custom-control-label" for="customCheck9">Green Life</label>
                </div>
            </li>
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck10">
                    <label class="custom-control-label" for="customCheck10">Whole Foods</label>
                </div>
            </li>
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck11">
                    <label class="custom-control-label" for="customCheck11">Shrubbery co.</label>
                </div>
            </li>
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck12">
                    <label class="custom-control-label" for="customCheck12">Better Life</label>
                </div>
            </li>
            <li>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck13">
                    <label class="custom-control-label" for="customCheck13">Organica</label>
                </div>
            </li>
        </ul>
    </div>
    <!-- Filter: State End -->
    <!-- Filter: Freshness Start -->
    <div class="sidebar-widget">
        <h5 class="widget-title"> Freshness </h5>
        <input type="text" class="js-range-slider" name="freshness_range" value="" data-type="double" data-min="0" data-max="10" data-from="4" data-to="6" data-grid="true" data-postfix=" days" />
    </div>
    <!-- Filter: Freshness End -->
    <!-- Filter: Price Start -->
    <div class="sidebar-widget">
        <h5 class="widget-title"> Price </h5>
        <input type="text" class="js-range-slider" name="freshness_range" value="" data-type="double" data-min="0" data-max="500" data-from="10" data-to="100" data-grid="true" data-postfix=" $" />
    </div>
    <!-- Filter: Price End -->
    <!-- Tags Start -->
    <div class="sidebar-widget">
        <h5 class="widget-title"> Popular Tags </h5>
        <div class="tagcloud">
            <a routerLink='/product-single'>Health</a>
            <a routerLink='/product-single'>Food</a>
            <a routerLink='/product-single'>Ingredients</a>
            <a routerLink='/product-single'>Organic</a>
            <a routerLink='/product-single'>Farms</a>
            <a routerLink='/product-single'>Green</a>
            <a routerLink='/product-single'>Fiber</a>
            <a routerLink='/product-single'>Supplements</a>
            <a routerLink='/product-single'>Gain</a>
            <a routerLink='/product-single'>Live Stock</a>
            <a routerLink='/product-single'>Harvest</a>
            <a routerLink='/product-single'>Better Life</a>
            <a routerLink='/product-single'>Life style</a>
        </div>
    </div>
    <!-- Tags End -->
    <!-- Newsletter Start -->
    <div class="sidebar-widget">
        <div class="andro_newsletter-form">
            <h5>Join our newsletter</h5>
            <p>Get exclusive weekly deals with our newsletter subscription</p>
            <form method="post">
                <div class="form-group">
                    <input type="email" class="form-control" name="newsletter_email" placeholder="Email Address" value="">
                </div>
                <button type="submit" class="andro_btn-custom secondary btn-block shadow-none" name="button">Join Newsletter</button>
            </form>
        </div>
    </div>
    <!-- Newsletter End -->
</div>