.andro_product .andro_product-footer{
    padding-top: 5px;
}

.andro_product .andro_product-footer ul li{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 6.5px;
}

.andro_product .andro_product-footer ul li a{
    color: #838383;
}

.andro_product .andro_product-footer ul li a:hover{
    color: #6e0101;
}

.andro_product .andro_product-thumb{
    height: 131px;
    width: 100%;
    overflow: hidden !important;
}

.andro_product .andro_product-thumb img{
    display: block;
}